{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/dashboard/teacher/">Teachers</a></li>
            <li><a href="/dashboard/class/">Classes</a></li>
            <li><a href="/dashboard/group/">Groups</a></li>
            <li class="active"><a href="/dashboard/student/">Students</a></li>
            <li><a href="/dashboard/course/">Courses</a></li>
            <li><a href="/dashboard/resource/">Resources</a></li>
            <li><a href="/dashboard/feedback/">Feedbacks</a></li>
            <li><a href="/dashboard/result/">Results</a></li>
            <li class="pull-right"><a href="/dashboard/report/">Reports</a></li>
            <li class="pull-right"><a href="/dashboard/log/">Logs</a></li>
            <li class="pull-right"><a href="/dashboard/news/">News</a></li>
            <li class="pull-right"><a href="/dashboard/events/">Events</a></li>
        </ul>

        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Import Students</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if data %}
        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Uploaded Data</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>Email Address</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Roll No</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                {% if not forloop.first %}
                                <tr>
                                    {% for col in row %}
                                    <td>{{ col }}</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

</script>
{% endblock %}
