{% extends "base.html" %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li class="active"><a href="/dashboard/teacher/">Teachers</a></li>
            <li><a href="/dashboard/class/">Classes</a></li>
            <li><a href="/dashboard/group/">Groups</a></li>
            <li><a href="/dashboard/student/">Students</a></li>
            <li><a href="/dashboard/course/">Courses</a></li>
            <li><a href="/dashboard/resource/">Resources</a></li>
            <li><a href="/dashboard/feedback/">Feedbacks</a></li>
            <li><a href="/dashboard/result/">Results</a></li>
            <li class="pull-right"><a href="/dashboard/report/">Reports</a></li>
            <li class="pull-right"><a href="/dashboard/log/">Logs</a></li>
            <li class="pull-right"><a href="/dashboard/news/">News</a></li>
            <li class="pull-right"><a href="/dashboard/events/">Events</a></li>
        </ul>

        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Manage Teachers</small>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="/dashboard/teacher/add/" class="pull-right">
                                <small><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Teacher</small>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th><small>Name</small></th>
                                <th><small>Speciality</small></th>
                                <th><small>Gender</small></th>
                                <th><small>Email</small></th>
                                <th><small>Date Joined</small></th>
                                <th><small>Delete</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                            <tr>
                                <td><small><a href="{{ teacher.get_absolure_url }}">{{ teacher.get_full_name }}</a></small></td>
                                <td><small>{{ teacher.get_speciality_display }}</small></td>
                                <td><small>{{ teacher.get_gender_display }}</small></td>
                                <td><small>{{ teacher.email }}</small></td>
                                <td><small>{{ teacher.date_joined }}</small></td>
                                <td><small><a href="/dashboard/teacher/{{ teacher.id }}/delete/">Delete</a></small></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    <small>
                                        <em>
                                            Nothing found in the database. Add a <a href="/dashboard/teacher/add/">New Teacher</a> manually or <a href="/dashboard/teacher/import/">Import Teachers</a> from a CSV file.
                                        </em>
                                    </small>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
