{% extends "base.html" %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/class/">Classes</a></li>
            <li><a href="/group/">Groups</a></li>
            <li><a href="/teacher/">Teachers</a></li>
            <li><a href="/course/">Courses</a></li>
            <li><a href="/resource/">Resources</a></li>
            <li><a href="/student/">Students</a></li>
            <li><a href="/feedback/">Feedback</a></li>
            <li><a href="/result/">Result</a></li>
            <li class="pull-right"><a href="/report/">Reports</a></li>
            <li class="pull-right"><a href="/log/">Logs</a></li>
            <li class="pull-right"><a href="/news/">News</a></li>
            <li class="pull-right"><a href="/events/">Events</a></li>
        </ul>

        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="jumbotron" style="margin-top: 10px; height: 650px;">

            </div>
        </div>
    </div>
</div>
{% endblock %}
